/* default css */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    color: dimgray;
}

/* half area css */
.half-area{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
    height: 650px;
}
.half-area img{
    width: 100%;
}
.color-text{
    color: #ec4c7a;
}
.exp-text{
    color: orange;
}
/* css for button and button hover */
.button{
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(45deg, #ec5299, #ed4b6e);
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}
.button:hover{
    background: linear-gradient(135deg, #ed4b6e , #ec5299);
    box-shadow: 2px 2px 30px gray;
}

/* css for all sections */
section{
    padding-bottom: 50px;
    clear: both;
}
.top{
    background-image: url("./header-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    padding: 5% 0;
}
.biography{
    background-image: url("./biography-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
    padding: 5% 0;
}
.recent-projects{
    background-image: url("./latest-work-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
    padding: 5% 0;
}
.testimonial{
    background-image: url("./footer-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
    padding: 5% 0;
}
.experiance-section{
    background-image: url("./biography-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
    padding: 5% 0;
}
.clint-feedback{
    text-align: center;
}

/* call to action bautton css */

.call-to-action{
    width: 55%;
    margin: auto;
    padding: 10px 30px;
    background: linear-gradient(45deg, #ec5299, #ed4b6e);
    border-radius: 7px;
    box-shadow: 2px 2px 20px gray;
    text-align: center;
    margin-top: 8%;
}
.call-to-action:hover{
    box-shadow: 2px 2px 30px gray;
}
.call-to-action p{
    color: whitesmoke;
}
.call-to-action a{
    text-decoration: none;
    color: white;
}
.call-to-action h3{
    font-size: 30px;
}
.section-heading{
    text-align: center;
}

/* middle area for recent projects align in center */
.middle-area{
    width: 80%;
    margin: auto;
}
.single-project{
    width: 30%;
    float: left;
    padding: 1.66667%;
}
.single-project:hover{
    box-shadow: 2px 2px 30px gray;
    border-radius: 5px;
    cursor: pointer;
}
.single-project img{
    width: 100%;
}

/* css for experiance section */

.single-experiance{
    width: 28%;
    min-height: 400px;
    float: left;
    padding-left: 2%;
    margin: 1%;
    box-shadow: 2px 2px 20px gray;
    border-left: 9px solid;
    background: white;
    overflow: scroll;
}
.single-experiance:hover{
    box-shadow: 2px 2px 40px gray;
    cursor: pointer;

}
.experiance::after{
    content: "";
    display: block;
    clear: both;
}
#full{
    border-image-source: linear-gradient(180deg, #273c75,#7f8fa6);
    border-image-slice: 1;
}
#back{
    border-image-source: linear-gradient(180deg, #f1c40f, #d35400);
    border-image-slice: 1;
}
#front{
    border-image-source: linear-gradient(180deg, #2ecc71, #3498db);
    border-image-slice: 1;
}

/* footer css */


footer {
    text-align: center;
}
footer a{
    text-decoration: none;
    color: dimgray;
}
